

<div class="nav">
    <div class="container-fluid">
        <nav class="navbar navbar-expand-md bg-dark navbar-dark">
            <a href="#" class="navbar-brand">MENU</a>
            <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
                <div class="navbar-nav mr-auto">
                    <a [routerLink] = "['']" class="nav-item nav-link active" routerLinkActive = "selected" [routerLinkActiveOptions] = "{
                        exact: true}">Trang chủ</a>
                    <a  class="nav-item nav-link">Giới thiệu</a>
                    <a  class="nav-item nav-link" routerLink="/cart">Giỏ hàng</a>
                    <a class="nav-item nav-link" [routerLink]="['/update_acount']">Quản lí tài khoản</a>
                    <div class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Danh mục sản phẩm</a>
                        <div class="dropdown-menu w-150" style="width: 125%;">
                            <a *ngFor = "let item of categorys" (click) = "getProduct(item.id)" class="dropdown-item">{{item.name}}</a>
                        </div>
                    </div>
                </div>
                <div class="navbar-nav ml-auto">
                    <div class="nav-item dropdown">
                        <a *ngIf= "isLogin" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button">{{this.tokenStorage.getUser().username}}</a>
                        <a *ngIf = "!isLogin" class="nav-link dropdown-toggle" data-toggle="dropdown">Login</a>
                        <div class="dropdown-menu">
                            <a [routerLink]="['/login']" class="dropdown-item">Đăng nhập</a>
                            <a [routerLink]="['/register']" class="dropdown-item">Đăng kí</a>
                            <a (click) = "logout()" class="dropdown-item">Đăng xuất</a>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
    </div>
</div>
<!-- Nav Bar End -->


<!-- Bottom Bar Start -->
<div class="bottom-bar">
    <div class="container-fluid">
        <div class="row align-items-center">
            <div class="col-md-3">
                <div class="logo">
                    <a>
                        <img src="/assets/img/logo.png" alt="Logo">
                    </a>
                </div>
            </div>
            <div class="col-md-6">
                <app-search></app-search>
            </div>
            <app-card-status class="col-md-3"></app-card-status>
        </div>
    </div>
</div>


