<!-- <div class="breadcrumb-wrap">
  <div class="container-fluid">
      <ul class="breadcrumb">
          <li class="breadcrumb-item"><a href="#">Home</a></li>
          <li class="breadcrumb-item"><a href="#">Products</a></li>
          <li class="breadcrumb-item active">Login</li>
      </ul>
  </div>
</div>
<div class="login">
  <div class="container-fluid">
    <div class="row justify-content-center" >
      <div class="col-lg-6">
        <div class="login-form" style="background-color: rgb(205, 82, 82);">
          <div class="row">
            <div class="col-md-6">
              <label>E-mail / Username</label>
              <input class="form-control" type="text" placeholder="E-mail / Username" [(ngModel)]="form.username">
            </div>
            <div class="col-md-6">
              <label>Password</label>
              <input class="form-control" type="text" placeholder="Password"  [(ngModel)]="form.password">
            </div>
            <div class="col-md-12">
              <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="newaccount">
                <label class="custom-control-label" for="newaccount">Keep me signed in</label>
              </div>
            </div>
            <div class="col-md-12">
              <button class="btn" (click)="onSubmit()" >Submit</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> -->
<!-- Login End -->
<div class="main">
  <form action="" method="POST" class="form" id="form-2"  name="form"
    (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>
    <h3 class="heading">Đăng nhập</h3>
    <p class="desc">Cùng nhau mua sắm tại Shop ❤️</p>

    <div class="spacer"></div>

    <div class="form-group">
      <label for="email" class="form-label">Email</label>
      <input id="email" name="email" type="text" placeholder="VD: email@domain.com" class="form-control"
        class="form-control" name="username" [(ngModel)]="form.username" required #username="ngModel">
      <div class="form-message" *ngIf="f.submitted && username.invalid" style="color: red;">Bạn cần nhập username</div>
    </div>

    <div class="form-group">
      <label for="password" class="form-label">Mật khẩu</label>
      <input id="password"  type="password" placeholder="Nhập mật khẩu" class="form-control"
         class="form-control" name="password" [(ngModel)]="form.password" required minlength="6"
        #password="ngModel">
        <div style="margin-left: 0; text-align: left; color: red;" *ngIf="f.submitted && password.invalid">
          <span class="form-message" *ngIf="password.errors.required">Mật khẩu bắt buộc</span>
          <span class="form-message" *ngIf="password.errors.minlength">
           Mật khẩu ít nhất 6 kí tự
          </span>
        </div>
    </div>

    <button class="form-submit">Đăng nhập</button>
    <div class="form-group">
      <div class="alert alert-danger" role="alert" *ngIf="f.submitted && isLoginFailed">
        Tên đăng nhập hoặc mật khẩu sai
      </div>
    </div>
    <a [routerLink]="['/register']">Chưa có tài khoản đăng kí</a>
  </form>
  
</div>