<div id="content-wrapper" style="width: 100%;">

  <div class="container-fluid">

    <!-- Breadcrumbs-->
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a href="#">Dashboard</a>
      </li>
      <li class="breadcrumb-item active">Tables</li>
    </ol>

    <!-- DataTables Example -->
    <div class="card mb-3">
      <div class="card-header">
        <i class="fas fa-table"></i>
        Data Table Example</div>
      <div class="card-body">
        <div class="table-responsive">
          <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0" *ngIf = "listProduct">
            <thead>
              <tr>
                <th  style="width: 200px;">Tên sản phẩm</th>
                <th  style="width: 200px;">Ảnh sản phẩm</th>
                <th  style="width: 200px;">Số lượng</th>
                <th  style="width: 200px;">Giá sản phẩm</th>
                <th  style="width: 200px;">Ngày tạo sản phẩm</th>
                <th  style="width: 350px;">Hành đông</th>>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of listProduct">
                
                <th>{{item.nameProduct}}</th>
                <th><img src="http://localhost:8080/uploads/{{item.nameImage}}" style="width: 50px; height: 100%;" alt=""></th>
                <th>{{item.soLuong}}</th>
                <th>{{item.giaBanRa}}</th>
                <th>{{item.createdDate}}</th>
                <th><i class="far fa-edit" style="color: darkgreen; font-size:x-large;"  [routerLink]="['product/edit',item.id]"></i>
                  <i class="fas fa-backspace" style="color: darkgreen; font-size:x-large;margin-left: 40px;" (click) = "showConfirmDialog(item.id)"></i>
                  <button type="button"  class="btn btn-info ml-sm-4"  (click) = "openDialogDetailProduct(item.id)">Chi tiết</button>
                </th>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
   
    </div>

    <ul class="pagination justify-content-lg-end" style="margin-right: 15px;
    margin-bottom: 20px;">
      <li class="page-item"><a  class="page-link" (click) ="previousClick()">Previous</a></li>
      <li *ngFor='let index of pageIndexes' class="page-item" [ngClass]="active(index)" >
              <a  class="page-link" (click)="getPaginationWithIndex(index)">
                {{index + 1}}
              </a>
      </li>
      <li class="page-item"><a  class="page-link" (click)= "nextClick()">Next</a></li>
    </ul>

  </div>

</div>
<app-alert #alertDeleteDialog [item]="currentItem" ></app-alert>

<app-dialog #confirmDeleteDialog (yesClicked)="checkXoa()"></app-dialog>