<div class="header">
  <div class="container-fluid">
      <div class="row">
          
         
      </div>
      
  </div>
</div>
<div class="featured-product product">
  <div class="container-fluid">
      <div class="section-header">
          <h1> Những sản phẩm thuộc thể loại {{listProduct.content[0].category.name}}</h1>
      </div>
      <div class="row align-items-center product-slider product-slider-4">
          <div class="col-lg-3" *ngFor = "let item of listProduct.content" style="margin-top: 20px;" >
              <div class="product-item" *ngIf = "item.productDetail.length >0">
                  <div class="product-title">
                      <a href="#">{{item.nameProduct}}</a>
                      <div class="ratting">
                          <i class="fa fa-star"></i>
                          <i class="fa fa-star"></i>
                          <i class="fa fa-star"></i>
                          <i class="fa fa-star"></i>
                          <i class="fa fa-star"></i>
                      </div>
                  </div>
                  <div class="product-image">
                      <a href="product-detail.html">
                          <img class="customImg" src="http://localhost:8080/uploads/{{item.nameImage}}" alt="Product Image">
                      </a>
                      <div class="product-action">
                          <a href="#"><i class="fa fa-cart-plus"></i></a>
                          <a href="#"><i class="fa fa-heart"></i></a>
                          <a><i class="fa fa-search" (click) ="getDetailProduct(item.id)"></i></a>
                      </div>
                  </div>
                  <div class="product-price">
                      <h3><span>$</span>99</h3>
                      <!-- <a class="btn"(click) = "addToCart(item)"><i class="fa fa-shopping-cart"></i>Mua ngay</a> -->
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>

<app-customalert #alertDeleteDialog [item]="currentItem" ></app-customalert>