<h1>dâdada</h1>

<div class="main__container" style="width: 1200px; margin-left: 40px;">
  <div class="product__header">
    <div class="product__header-bg">
      <i class="fa fa-home" aria-hidden="true"> </i>
      <span class="pesudu"> / Home / </span>
      <span class="pesudu"> Danh mục sản phẩm</span>
    </div>
  </div>
  <div class="product__list">
    <div class="table_product">
      <div class="button__adduser">
        <button class="user__add btn__user" (click)="addandUpdateCategory(null)" >
          <i class="fa fa-plus" aria-hidden="true"></i>
          <span>Thêm loại</span>
        </button>
        
      </div>
      <table class="table" >
        <thead class="thead-dark">
          <tr>
            <th scope="col">Tên danh mục</th>
            <th scope="col">Code</th>
            <th>Cập nhật</th>
            <th>
             Xóa danh mục
            </th>
          </tr>
        </thead>
        <tbody >
          <tr *ngFor="let category of categorys">
            <td>{{category.name}}</td>
            <td>{{category.code}}</td>
            <td><a ><i class="far fa-edit" aria-hidden="true" (click)="addandUpdateCategory(category)"></i></a></td>
            <td><button type="button" class="btn btn-danger" (click) = "XoaDanhMuc(category.id)">Delete</button></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
<app-dialog #confirmDeleteDialog (yesClicked)="deleteCategory()"></app-dialog>
<app-alert #alertDeleteDialog  [item]="currentItem"></app-alert>