<div id="content-wrapper" style="width: 150%;">

  <div class="container-fluid">

    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a href="#">Dashboard</a>
      </li>
      <li class="breadcrumb-item active">OderList</li>
    </ol>
    <div class="card mb-3">
      <div class="card-header">
        <i class="fas fa-table"></i>
              Danh sách phiếu nhập</div>
      <div class="card-body">
        <div class="table-responsive">
          <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
            <thead>
              <tr >
                <th>Mã số phiếu nhập</th>
                <th>Ngày tạo phiếu nhập</th>
                <th>Người tạo phiếu nhập</th>
                <th>Hành động</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor = " let item of listPhieuNhap">
                <th>{{item.id}}</th>
                <th>{{item.dateWrite |  date: 'dd/MM/yyyy'}}</th>
                <th>{{item.user.username}}</th>
                <th>
                  <i class="fas fa-backspace" style="color: darkgreen; font-size:x-large;margin-left: 40px;" (click)= "xoaPhieuNhap(item)"></i>
                  <i style="color: darkgreen; font-size:x-large;margin-left: 40px;" (click) ="openDialogDetail(item.id)" class="fas fa-info-circle"></i></th>
              </tr>
            </tbody>
          </table>
        </div>

         <ul class="pagination justify-content-lg-end" style="margin-right: 15px;
    margin-bottom: 20px;">
      <li class="page-item"><a  class="page-link" (click) ="previousClick()">Previous</a></li>
      <li *ngFor='let index of pageIndexes' class="page-item" [ngClass]="active(index)" >
              <a  class="page-link" (click)="getPaginationWithIndex(index)">
                {{index + 1}}
              </a>
      </li>
      <li class="page-item"><a  class="page-link" (click)= "nextClick()">Next</a></li>
    </ul>
      </div>
   
    </div>

  

  </div>
  <!-- /.container-fluid -->

  <!-- Sticky Footer -->
 

</div>

<app-alert #alertDeleteDialog [item]="currentItem" ></app-alert>
