

<div class="header">
    <div class="container-fluid">
        
        
    </div>
  </div>

<div class="featured-product product">
    <div class="container-fluid">
        <div class="section-header">
            <h1>Sản phẩm</h1>
        </div>
        <div class="row align-items-center product-slider product-slider-4">
            <div class="col-lg-3" *ngFor = "let item of listProduct" style="margin-top: 20px;" >
                <div class="product-item" *ngIf = "item.productDetail.length >0" (click) = "getDetailProduct(item.id)">
                    <div class="product-title">
                        <a href="#">{{item.nameProduct}}</a>
                        <div class="ratting">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                        </div>
                    </div>
                    <div class="product-image">
                        <a>
                            <img class="customImg" style="height: 300px" src="http://localhost:8080/uploads/{{item.nameImage}}" alt="Product Image">
                        </a>
                    </div>
                    <div class="product-price">
                        <h3><span>Giá: </span>{{item.productDetail[0].price | currency: 'VND'}}</h3>
                    </div>
                </div>
            </div>
            
           
        </div>
        <ul class="pagination justify-content-lg-end" style="margin-right: 15px;
        margin-bottom: 20px;">
          <li class="page-item"><a  class="page-link" (click) ="previousClick()">Previous</a></li>
          <li *ngFor='let index of pageIndexes' class="page-item" [ngClass]="active(index)" >
                  <a  class="page-link" (click)="getPaginationWithIndex(index)">
                    {{index + 1}}
                  </a>
          </li>
          <li class="page-item"><a  class="page-link" (click)= "nextClick()">Next</a></li>
        </ul>
    </div>
</div>

<div class="newsletter">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6">
                <h1>Subscribe Our Newsletter</h1>
            </div>
            <div class="col-md-6">
                <div class="form">
                    <input type="email" value="Your email here">
                    <button>Submit</button>
                </div>
            </div>
        </div>
    </div>
</div>

<app-footer></app-footer>
<app-customalert #alertDeleteDialog [item]="currentItem" ></app-customalert>