<div class="breadcrumb-wrap">
  <div class="container-fluid">
      <ul class="breadcrumb">
          <li class="breadcrumb-item"><a href="#">Home</a></li>
          <li class="breadcrumb-item"><a href="#">Products</a></li>
          <li class="breadcrumb-item active">Checkout</li>
      </ul>
  </div>
</div>
<!-- Breadcrumb End -->

<!-- Checkout Start -->
<div class="checkout">
  <div class="container-fluid"> 
      <div class="row">
          <div class="col-lg-8">
              <div class="checkout-inner">
                  <form [formGroup]="checkOutForm">
                  <div class="billing-address">
                      <h2>Để hoàn tất việc đặt mua hàng tại Thể Thao Thiên Trường, quý khách vui lòng điền đầy đủ thông tin vào form đăng ký mua hàng dưới đây.</h2>
                      <div class="row">
                          <div class="col-md-6">
                              <label>Họ và tên</label>
                              <input formControlName="nameKhachHang" class="form-control" type="text" placeholder="First Name">
                              <label style="color: red;" *ngIf="f.nameKhachHang.invalid && f.nameKhachHang.touched" class="error">
                               Họ và tên bắt buộc
                              </label>
                              
                          </div>
                          
                          <div class="col-md-6">
                              <label>E-mail</label>
                              <input type ="email" formControlName="email" class="form-control" type="text" placeholder="E-mail">
                              <label style="color: red;" *ngIf="f.email.errors?.required && f.email.touched" class="error">
                               Email bắt buộc
                               </label>
                               <label style="color: red;" *ngIf="f.email.errors?.email && f.email.touched" class="error">
                                Email khong hop le
                               </label>
                          </div>
                          <div class="col-md-6">
                              <label>Số điện thoại</label>
                              <input formControlName="phone" class="form-control" type="text" placeholder="Mobile No">
                              <label style="color: red;" *ngIf="f.phone.invalid && f.phone.touched" class="error">
                                Số điện thoại bắt buộc
                               </label>
                          </div>
                          <div class="col-md-12">
                              <label>Địa chỉ</label>
                              <input class="form-control" formControlName="address" type="text" placeholder="Address">
                              <label style="color: red;" *ngIf="f.address.invalid && f.address.touched" class="error">
                                Địa chỉ bắt buộc
                               </label>
                          </div>

                          <div class="col-md-6">
                            <label>Hình thức giao hàng</label>
                            <div class="form-control">
                              <label class="radio-inline" >
                                <input type="radio" name="hinhthucgiaohang"  value="taicuahang" formControlName="hinhthucgiaohang"  >
                                Nhận tại nơi
                              </label>
                              <label class="radio-inline" style="margin-left: 20px;">
                                <input type="radio" name="hinhthucgiaohang" value="giaotannoi"  formControlName = "hinhthucgiaohang">
                              Giao hàng
                              </label>
                            </div>

                            <label style="color: red;" *ngIf="f.hinhthucgiaohang.invalid && f.hinhthucgiaohang.touched" class="error">
                               Chọn hình thức giao hàng
                               </label>
                          </div>
                            
                        </div>
                  </div>

                </form>
                  <div class="shipping-address">
                      <h2>Shipping Address</h2>
                      <div class="row">
                          <div class="col-md-6">
                              <label>First Name</label>
                              <input class="form-control" type="text" placeholder="First Name">
                          </div>
                          <div class="col-md-6">
                              <label>Last Name"</label>
                              <input class="form-control" type="text" placeholder="Last Name">
                          </div>
                          <div class="col-md-6">
                              <label>E-mail</label>
                              <input class="form-control" type="text" placeholder="E-mail">
                          </div>
                          <div class="col-md-6">
                              <label>Mobile No</label>
                              <input class="form-control" type="text" placeholder="Mobile No">
                          </div>
                          <div class="col-md-12">
                              <label>Address</label>
                              <input class="form-control" type="text" placeholder="Address">
                          </div>
                          <div class="col-md-6">
                              <label>Country</label>
                              <select class="custom-select">
                                  <option selected>United States</option>
                                  <option>Afghanistan</option>
                                  <option>Albania</option>
                                  <option>Algeria</option>
                              </select>
                          </div>
                          <div class="col-md-6">
                              <label>City</label>
                              <input class="form-control" type="text" placeholder="City">
                          </div>
                          <div class="col-md-6">
                              <label>State</label>
                              <input class="form-control" type="text" placeholder="State">
                          </div>
                          <div class="col-md-6">
                              <label>ZIP Code</label>
                              <input class="form-control" type="text" placeholder="ZIP Code">
                          </div>
                      </div>
                  </div>
              </div>
          </div>
          <div class="col-lg-4">
              <div class="checkout-inner">
                  <div class="checkout-summary">
                      <h1>Tổng đơn hàng</h1>
                     
                      <p class="sub-total">Số tiền thanh toán<span>{{ totalPrice | currency: 'USD' }}</span></p>
                      <p class="ship-cost">Số luọng<span>{{ totalQuantity }}</span></p>
                      
                  </div>

                  <div class="checkout-payment">
                      
                          
                      <div class="checkout-btn">
                          <button (click) = "onSubmit()">Đặt hàng</button>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>

<app-customalert #alertDeleteDialog [item]="currentItem" ></app-customalert>