<div class="my-account" >
  <div class="container-fluid">
      <div class="row">
         
          <div class="col-md-9" style="margin: auto;">
              <div class="tab-content">
                 
                  
                  <div  aria-labelledby="account-nav">
                      <h4>Thông tin khách hàng</h4>


                      <form *ngIf = "userForm" class="row" [formGroup]="userForm">
                          <div class="col-md-6" >
                              <input class="form-control" formControlName= "fullName" type="text" placeholder="Họ và tên khách hàng">
                          </div>
                          <div class="col-md-6">
                              <input class="form-control" type="text" placeholder="Số điện thoại"  formControlName = "phone">
                          </div>
                          <div class="col-md-6">
                              <input class="form-control" type="text" placeholder="Email khách hàng" formControlName = "email">
                          </div>
                          <div class="col-md-12">
                              <input class="form-control" type="text" placeholder="Địa chỉ khách hàng" formControlName="address">
                          </div>
                          <div class="col-md-12">
                            <button type="button" class="btn btn-secondary" (click)= "updateAcount()">Cập nhật thông tin</button>
                              <br><br>
                          </div>
                        </form>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>

<app-footer></app-footer>